<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a new listing</h3>
            <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                    
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" id="title" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" type="text" class="form-control" id="description" required></textarea>
                    <div class="invalid-feedback">Please enter short description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input name="listing[image]" type="file" class="form-control" id="image" required>
                </div>
                <div class="row">
                        <div class="mb-3 col-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" id="price" required>
                            <div class="invalid-feedback">Please enter valid price</div>
                        </div>
                        <div class="mb-3 col-8">
                            <label for="country" class="form-label">Country</label>
                            <input name="listing[country]" placeholder="India" type="text" class="form-control" id="country" required>
                            <div class="invalid-feedback">Please enter valid country name</div>
                        </div>                    
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="Mumbai, Maharashtra" type="text" class="form-control" id="location" required>
                    <div class="invalid-feedback">Please enter valid location</div>
                </div>
                <br><br>
                <button class="btn btn-dark add-btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>
</body>
