body {
    font-family: "Plus Jakarta Sans", serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fa424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.f-info-social, .f-info-links, .f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-social i {
    font-size: 1.2rem;
    margin-right: 10px;
}

/* cards */
.listing-card {
    border: none !important;
    margin-bottom: 3rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    height: 250px;
    object-fit: cover !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.3;
    background-color: white;
}

/* new form */
.add-btn {
    background-color: #fa424d !important;
    border: none !important;
}

/* edit form */
.edit-btn {
    background-color: #fa424d !important;
    border: none !important;
}


/* show listings */
.show-img {
    height: 40vh;
}

.btns {
    display: flex;
    justify-content: space-evenly;
}


/* review card */
.review-card-body {
    padding: 0px !important;
}


.navBtns {
    border: 1px solid black;
}